<nav>
    <div class="nav-wrapper">
        <ul id="nav" class="brand-logo">
            <li class="active"><a href="/home">Accueil</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <form action="/post" method="post">
        <div class="input-field">
            <div class="col s11">
                <input id="search" type="search" name="search" placeholder="Search school/community" required> <!-- class="dropdown-button" data-activates='dropdown1'  -->
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <!-- Dropdown Structure 
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">one</a></li>
                </ul> -->
            </div>
            <div class="col s1">
               <button class="btn-floating btn-large waves-effect waves-light red" name="submit"><i class="material-icons">search</i></button> 
            </div>
        </div>
    </form>
</div>

<h1>Hello world!</h1>
<a href="/register">Create Account</a> or <a href="/login">Sign in</a>
<div class="">
    <p>Ping</p>
</div>
