<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Accueil</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/login">Login</a></li>
            <li class="uk-parent"><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="uk-heading-small">
        <h1>Welcome to it's shit !</h1>
    </div>
    <div class="uk-margin">
        <form class="uk-search uk-search-large" action="/school" method="POST">
            <input class="uk-input" name="search" type="search" placeholder="Search..." required>
            <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
        </form>
    </div>
</div>