<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/">Accueil</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/login">Login</a></li>
            <li class="uk-parent"><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="uk-heading-small">
        <h1>Welcome to it's shit !</h1>
    </div>
    <form action="/user" method="POST">
        <div class="uk-margin">
            <input type="text" class="uk-input" name="email" placeholder="Enter your mail adress">
        </div>

        <div class="uk-margin">
            <input type="password" class="uk-input" name="password" placeholder="Enter your password">
        </div>
        
        <div class="uk-margin">
            <button class="uk-button uk-button-primary uk-lar" type="submit">Login</button>
        </div>
    </form>
</div>