<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/home">Accueil</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">{{ subdomain }}</a></li>
        </ul>
    </div>
</nav>

<h1>Welcome on {{ subdomain }} page!</h1>

<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <form action="/user" method="POST">
                <div class="uk-margin">
                    <textarea class="uk-textarea" name="comment" placeholder="Write your message" required></textarea>

                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary uk-lar" type="submit">Write</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias harum architecto mollitia totam ea facilis
            libero, esse suscipit iusto praesentium modi, dolore eius temporibus explicabo est similique excepturi hic
            culpa.
        </div>
    </div>
</div>